run
out
logs
build
.idea
.gradle
.env
release.sh
releaseToServer.sh
checkRelease.sh
jd-cli.jar
proguard.jar
proguardconf
version.json
settings.gradle
.DS_Store

# For Manifold:
AdvancedPhysicsCore.java
build.properties
